<div class="main-container">
  <header class="fullscreen-element no-pad centered-text  okconde">
    <div class="background-image-holder parallax-background overlay">
      <a href="#" class="background-image"> <%= image_tag "background.jpg" %></a>
    </div>

    <div class="container">
      <div class="row">
        <div class="dme col-md-12 text-center">
          <span class="text-white alt-font ok1">Review Book</span>
          <h2 class="text-white">Meet your next favorite book</h2>
          <p class="lead text-white">Lam Thon Team</p>
        </div>
        <form method="post" action="#">
          <div id="custom-search-input">
            <div class="input-group">
              <input type="text" class=" search-query" placeholder="Search books">
              <span class="input-group-btn">
                  <input type="submit" class="btn_search" value="">
              </span>
            </div>
          </div>
        </form>
      </div><!--end of row-->
    </div><!--end of container-->
  </header>
</div>
